*{
    margin: 0;
    padding: 0;
    line-height: 1;
}

body{
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.header_section_first{
    height: 700px;
    background: url(../images/bg_1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header_section_first_content{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}

.logo_and_nav{
    display: flex;
    flex: 100%;
    align-items: center;
    margin-top: 30px;
}

.home_logo{
    flex: 1;
    font-weight: 800;
    letter-spacing: 0.5px;
}

nav{
    flex: 1;
}

.logo_and_nav ul{
    display: flex;
    list-style-type: none;
}

.logo_and_nav ul li{
    display: inline;
    flex: 1;
    justify-content: space-between;
}

.logo_and_nav ul li:nth-child(1) a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
}

.logo_and_nav ul li:nth-child(1):hover a{
    opacity: 1;
    transition-duration: .4s;
}

.logo_and_nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.header_nav_btn{
    width: 110px;
    height: 40px;
    border:solid 1px rgba(255, 255, 255, 0.5 );
    border-radius: 30px;
    background: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

.header_nav_btn:hover{
    background-color: rgba(249, 88, 88, 1);
    transition-duration: .2s;
}

header h1{
    flex-basis: 100%;
    margin-top: 80px;
    font-size: 60px;
    line-height: 72px;
}

header h1 span{
    font-weight: 300;
}

header form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-top: 30px;
}

header form label{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

header form label:first-child span{
    flex-basis: 100%;
    opacity: 0.8;
    margin-bottom: 20px;
}

header form [type="text"]{
    flex-basis: 30%;
    height: 70px;
    border: none;
    padding-left: 30px;
    outline: none;
}

header form select{
    flex-basis: 30%;
    height: 70px;
    border: none;
    border-left: solid 1px rgba(223, 224, 230, 1);
    padding-left: 30px;
    outline: none;
}

header form [type="button"]{
    flex-basis: 12%;
    height: 70px;
    background-color: rgba(249, 88, 88, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

header form span{
    flex-basis: 100%;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header_find_btn{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    justify-content: space-between;
}

form button{
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    flex-basis: 10%;
    justify-content: space-around;
    border: none;
}

form:last-child button:hover{
    background-color: rgba(249, 88, 88, 1);
    transition-duration: .2s;
}

form:last-child button span{
    color: rgba(62, 62, 62, 1);
    font-size: 17px;
}

form:last-child button:nth-child(1) span::before{
   content: "#";
}

form:last-child button:nth-child(2) span::before{
    content: "#";
 }

 form:last-child button:nth-child(3) span::before{
    content: "#";
 }

form:last-child button:nth-child(4) span::before{
    content: "#";
}

.header_section_second{
    height: 400px;
    background-color: rgba(249, 250, 255, 1);
}

.header_section_second_content{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 75%;
    margin: 0 auto;
}

.header_items{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 85%;
    justify-content: space-between;
    margin-top: -50px;
}

.header_item{
    background-color: rgba(255, 255, 255, 1);
    width: 16%;
    padding: 40px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.header_item:hover{
    background-color: rgba(249, 89, 89, 1);
    color: rgba(255, 255, 255, 1);
    transition-duration: .2s;
}

.item_icon{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(249, 89, 89, 1);
}

.header_item h3{
    color: rgba(62, 62, 62, 1);
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 18px;
} 

.header_item:hover .item_icon:hover .header_item h3{
    color: rgba(255, 255, 255, 1);
}

.header_item p{
    color: rgba(62, 62, 62, 1);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    text-justify: distribute;
    text-align: justify;
}

main .features{
    height: 880px;
    background-color: rgba(255, 255, 255, 1);
}

.main_features_content{
    height: 880px;
    width: 75%;
    margin: 0 auto;
    color: rgba(62, 62, 62, 1);
}

.main_features_content .name_feature,
.main_offers_content .name_offer{
    display: inline-block;
    margin-top: 100px;
}

.main_features_content h2{
    margin-top: 30px;
}

.main_features_content h2 span{
    font-weight: 300;
}

.features_items{
    display: flex;
    overflow: hidden;
    margin-top: 100px;
}

.feature_item{
    margin-right: 30px;
    border: solid 2px rgba(249, 250, 255, 1);
}

.layer_magnifier{
    position: relative;
}

.layer_magnifier a{
    text-decoration: none;
}

.feature_img{
    height: 315px;
    width: 255px;
} 

.layer_magnifier .magnifier{
    display: none;
    position: absolute;
    left: 39%;
    bottom: 39%;
    height: 20px;
    width: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
}

.layer_magnifier:hover .magnifier{
    display: block;
}

.feature_img.img_1,
.offer_img.img_1{
    background-image: url(../images/destination-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.feature_img.img_2,
.offer_img.img_2{
    background-image: url(../images/destination-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.feature_img.img_3,
.offer_img.img_3{
    background-image: url(../images/destination-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.feature_img.img_4,
.offer_img.img_4{
    background-image: url(../images/destination-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.feature_img.img_5,
.offer_img.img_5{
    background-image: url(../images/destination-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.feature_img.img_6,
.offer_img.img_6{
    background-image: url(../images/destination-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.feature_item h3{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 20px 20px 20px;
    text-align: left;
}

.feature_item h3 a{
    text-decoration: none;
    color: rgba(62, 62, 62, 1);
}

.feature_item p{
    font-size: 15px;
    margin: 20px 20px 20px 20px;
    text-align: left;
}

main .circle_buttons{
    margin-top: 10px;
}

main .circle_buttons button{
    height: 10px;
    width: 10px;
    border-radius: 2px;
}

main .offers{
    height: 880px;
    background-color: rgba(249, 250, 255, 1);
}

.main_offers_content{
    height: 880px;
    width: 75%;
    margin: 0 auto;
    color: rgba(62, 62, 62, 1);
}

.main_offers_content h2{
    margin-top: 30px;
}

.main_offers_content h2 span{
    font-weight: 300;
    margin-top: 0px;
}

.offers_items{
    margin: 100px 0px 0px -130px;
    display: flex;
    border: solid 1px red;
}

.offer_item{
    background-color: rgba(128, 255, 0, 0.226);
    margin-right: 16px;
    margin-left: 16px;
}

.offer_item .layer_magnifier{
    height: 200px;
}

.offer_img{
    flex: 1;
    flex-basis: 100%;
    height: 200px;
    width: 255px;
}

.offer_content{
    border: solid 1px #e6e6e6;
}

.offer_content .text_line_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 15px 15px 15px;
}

.offer_content .text_line_1 h3{
    display: inline;
    font-size: 18px;
    font-weight: 500;
}

.offer_content h3 a{
    text-decoration: none;
    color: rgba(62, 62, 62, 1);
}

.offer_content .text_line_1 span{
    color: rgba(47, 137, 252, 1);
}

.offer_content .text_line_2{
    margin: 0px 15px 30px 15px;
}

.text_line_2 .raiting{
    display: inline;
    margin-right: 5%;
}

.star{
    display: inline-block;
    font-size: 10px;
}

.text_line_2 span{
    font-size: 10px;
}

.offer_content p{
    display: inline-block;
    font-size: 15px;
    line-height: normal;
    margin: 0px 15px 30px 15px;
}

.offer_content span:nth-child(4){
    display: inline-block;
    font-size: 14px;
    margin: 0px 15px 20px 15px;
}

.offer_content .line{
    margin: 0px 15px 15px 15px;
}

.offer_content .text_line_3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 15px 15px 15px;
}

.text_line_3 .img_map{
    display: inline;
}   

.text_line_3 span:nth-child(2){
    font-size: 15px;
    background-color: rgba(249, 89, 89, 1);
}

.text_line_3 button{
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(139, 195, 74, 1);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}


/*---------------------------------------------------------*/

.facts{
    height: 535px;
    background: url(../images/bg_1_linear.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.facts_content{
    display: flex;
    flex-wrap: wrap;
    height: 535px;
    width: 75%;
    margin: 0 auto;
    border: solid 1px crimson;
}

.facts_content h2{
    flex-basis: 100%;
    font-size: 35px;
    font-weight: 300;
    margin-top: 145px;
    text-align: center;
    border: solid 1px crimson;
}

.facts_content span{
    flex-basis: 100%;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    border: solid 1px crimson;
}

.fact_block{
    display: flex;
    flex-basis: 100%;
    border: solid 1px crimson;
}

.fact{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    justify-content: space-between;
    border: solid 1px crimson;
}

.fact h2{
    flex-basis: 100%;
    border: solid 1px crimson;
}

.fact span{
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 200;
    border: solid 1px crimson;
}
