*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'MyriadPro-Regular';
    font-size: 20px;
}

 .clearfix::after{
    display: block;
    content: "";
    clear: both;
}

.wrapper{
    overflow: hidden;
}

.header-top-back{
    background-color: #ba0000;
}

.header-top-contant{
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
}

.language{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-profile{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-top-contant p{
    font-size: 14px;
    color: #ffffff;
}

.contact-profile p:nth-child(1){
    float: left;
}

.contact-profile p:nth-child(1)::before{ /*почему не работает картинка??*/
   content: url("../img/icon_contact_center.png");
}

.contact-profile:nth-child(2) p{
    float: left;
    margin-left: 31px;
}

.header-menu-back{
    background-color: #ffcc00;
}

.header-menu-contant{
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
}

.main-contant h1{
    display: inline-block;
    color: #ffffff;
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-top: 188px;
}

.img-logo{
    margin-top: 42px;
    float: left;
}

.menu-search{
    float: right;
}

.top-menu{
    display: inline-block;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top-menu li{
    display: inline-block;
    margin-left: 35px;
}

.top-menu li a{
    text-decoration: none;
    font-size: 14px;
    color:  #ba0000;
}

.menu-search img{
    display: inline-block;
    float: right;
    margin-left: 180px;
    margin-top: 30px;
}

.main-back{
    background: url(../img/main-back.jpg) no-repeat center;
}

.main-contant{
    width: 1460px;
    margin-left: auto;
    margin-right: auto;    
}

.main-contant ul{
    list-style: none;
    margin-top: 117px;
}

.main-contant ul li{
    display: inline-block;
    color: #ffffff;
}

.main-menu p{
        font-size: 20px;
}

.main-contant ul li:nth-child(2) p::before,
.main-contant ul li:nth-child(2) p::after{
    content: ".";
    color: #ffcc00;
    margin-left: 22px;
    margin-right: 22px;
}

.two-btm{
    width: 368px;
    height: 50px;
    margin-top: 45px;
    margin-bottom: 180px;
} 

.btm-yellow{
    width: 150px;
    height: 50px;
    font-size: 16px;
    color: #ba0000;
    background-color: #ffcc00;
    border-radius: 25px;
    float: left;
}

.btm-white-brdr{
    width: 190px;
    height: 46px;
    font-size: 16px;
    color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 25px;
    float: right;
    margin-top: 1px;
}

.btm-yellow span{
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
}

.btm-white-brdr span{
    display: inline-block;
    margin-left: 35px;
    margin-top: 13px;
}

.services-back{
    height: 735px;
    background-color: #ffffff;
}

.services-contant{
    width: 1460px;
    height: 735px;
    margin-left: auto;
    margin-right: auto;
}

.word-servis-back{
    display: inline-block;
    width: 600px;
    height: 100px;
    background: url(../img/word-service-back.png);
    margin-left: 107px;
    margin-top: 106px;
}

.word-servis-back h2{
    font-family: 'MyriadPro-Bold';
    font-size: 63px;
    color: #ba0000;
    float: left;
    margin-top: 11px;
}

.services-items{
    width: 1246px;
    margin-left: auto;
    margin-top: 80px;
    margin-right: auto;
}

.item{
    width: 270px;
    float: left;
}

.item:nth-child(1){
    margin-left: 0px;
    margin-right: 50px;
}

.item:nth-child(2){
    margin-left: 0;
    margin-right: 50px;
}

.item:nth-child(3){
    margin-left: 0;
    margin-right: 50px;
}

.item h4{    
    display: inline-block;
    font-family: 'MyriadPro-Bold';
    color: #ba0000;
    margin-top: 15px;
}

.item p{
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #929292;
    margin-top: 10px;
}

.item span{
    display: inline-block;
    font-family: 'MyriadPro-Bold';
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
}

.item span::after{
    content: " " url("../img/arrow.png");
}

.location{
    width: 270px;
    background-color: #ba0000;
    float: left;
}

.loc-contant{
    width: auto;
    margin-left: 32px;
    margin-top: 32px;
}

.location h4{
    font-family: 'MyriadPro-Bold';
    color: #ffffff;
}

.location img{
    margin-top: 30px;
}

.location p{
    font-size: 14px;
    color: #ffffff;
    line-height: 22px;
    margin-top: 30px;
}

.loc-btm{
    margin-top: 90px;
    margin-bottom: 30px;
}

.loc-btm span{
    font-family: 'MyriadPro-Bold';
    margin-left: 42px;
    margin-top: 14px;

}

.services-second-back{
    background: url(../img/services-second-back.jpg) no-repeat center;
}

.services-second-contant{
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
}

.services-second-contant h2{
    display: inline-block;
    font-family: 'MyriadPro-Bold';
    font-size: 72px;
    color: #ffffff;
    margin-top: 155px;
}

.services-second-contant img{
    display: block;
    margin-left: auto;
    margin-top: 63px;
    margin-right: auto;
}

.serv-sec-items-img{
    width: 1211px;
    margin-left: auto;
    margin-top: 98px;
    margin-right: auto;
}

.serv-sec-items-img img{
    float: left;
}

.serv-sec-items-img img:nth-child(1){
    margin-left: 0;
    margin-top: 0;
    margin-right: 50px;
}

.serv-sec-items-img img:nth-child(2){
    margin-left: 0;
    margin-top: 0;
    margin-right: 50px;
}

.serv-sec-items-img img:nth-child(3){
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

.find-service-back{
    background-color: #ffffff;
}

.find-service-contant{
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
}

.items-info{
    width: 1211px;
    margin-left: auto;
    margin-right: auto;
}

.info-back{
    width: 370px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    float: left;
}

.info-back:nth-child(1){
    margin-right: 50px;
    margin-left: 0;
}

.info-back:nth-child(2){
    margin-right: 50px;
    margin-left: 0;
}

.info-text{
    margin-left: 30px;
}

.info-text h4{    
    display: inline-block;
    font-family: 'MyriadPro-Bold';
    color: #ba0000;
    margin-top: 30px;
}

.info-text ul{
    list-style-image: url("../img/arrow-yellow.png");
    margin-left: 13px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-text ul li{
    font-size: 14px;
    line-height: 17px;
    color: #929292;
    margin-top: 10px;
}

.find-service-contant img{
    float: right;
    margin-top: 95px;
    margin-right: 30px;
    margin-bottom: 100px;
}

.deliver-back{
    background-color: #ba0000;
}

.deliver-contant{
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
}

.deliver-text{
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
}

.deliver-contant h3{
    font-weight: lighter;
    color: #ffffff;
}

.deliver-contant p{
    display: inline-block;
    color: #ffffff;
    margin-top: 40px;
}

.btm-red{
    width: 150px;
    height: 50px;
    background-color: #a00000;
    border-radius: 25px;
    float: right;
    margin-top: 150px;
}

.btm-red span{
    display: inline-block;
    font-family: 'MyriadPro-Bold';
    font-size: 14px;
    color: #ffffff;
    margin-left: 35px;
    margin-top: 15px;
}

.footer-back{
    background: url("../img/footer-left-img.jpg") no-repeat left bottom,
                url("../img/footer-right-img.jpg") no-repeat right bottom;
}

.footer-contant{
     width: 1460px;
     margin-left: auto;
     margin-right: auto;
}

.logo-friends-box{
    width: 1168px;
    margin-left: auto;
    margin-top: 70px;
    margin-right: auto;
}

.logo-friends-back{
    width: 270px;
    height: 125px;
    background-color: #ffffff;
    border: solid 2px #eedbdb;
    float: left;
    margin-left: 0;
    margin-right: 9px;
}

.logo-friends-back:nth-child(1),
.logo-friends-back:nth-child(2),
.logo-friends-back:nth-child(3){
   margin-left: 0;
   margin-right: 24px;
}

.logo-friends-back:nth-child(4){
    margin-left: 0;
    margin-right: 0;
}

.logo-friends-back:hover{
    border: solid 2px #ba0000;
}

.logo-friends-back img{
    margin-left: 18px;
    margin-top: 45px;
}

.info-about{
    float: left;
    margin-top: 127px;
    margin-bottom: 55px;
}

.info-about.info-1{
    margin-left: 300px;
}

.info-about.info-2{
    margin-left: 120px;
}

.info-about.info-3{
    margin-left: 80px;
}

.info-about h4{
    font-size: 20px;
    color: #ba0000;
}

.info-2 h4,
.info-3 h4{ /*почему не деуствует жирный?*/
    font-family: 'MyriadPro-Bold';
    font-weight: bolder;
}

.info-about ul{
    list-style-image: url("../img/arrow-yellow.png");
    margin-left: 12px;
    margin-top: 45px;
}

.info-about ul li p{
    color: #777777;
}

.info-1 ul li:nth-child(1) p, /*почему не окрашивается??*/
.info-2 ul li:nth-child(1) p{
    color: #ffcc00;
}

.info-3 ul li:nth-child(1) p{ /*почему не окрашивается??*/
   color: #017edf;
}
















































