@media all and (max-width:1360px) {
    .container{
        width: 760px;
    }

    .catalog div h3{
        font-size: 30px;
     }

    .catalog div{
        width: 379px;
     } 
  
    .catalog1 > div{
        widows: 100%;
        background-size: cover;
        margin-bottom: 10px;
     }

    .catalog1-right > div{
        width: 379px;
    }
  
    .catalog1-right > div:first-child,
    .catalog1-right > div:last-child{
    .
    
    
    }







     }


















}
